<!DOCTYPE html>
<head>
    <style>
        body {
            text-align: center;
            background: white;
            color: white;
            font-family: Helvetica;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
             }
        p  {
            font-size: 34;
        }
        input {
            border: 0;
            padding: 12px;
            font-size: 18px;
        }
        input[type="submit"]{
            background: purple;
            color: white;
        }
        li
        {
        font-family: garamond;
        font-size: 24px;
        display:inline;
        width: 60px;
        text-decoration:none;
        list-style: none;
        width:100px;
        margin:20px;
        padding:5px 0;
        }
    </style>
</head>

<body>
    <h1>
    <a href="http://stackoverflow.com">
    <img src="http://farm8.staticflickr.com/7326/12208207714_e598b742d0_o.png"/>
    </a>
    </h1>
    <ul>
        <li><a href="#home">Catalog</a></li>
        <li><a href="#news">Custom</a></li>
        <li><a href="http://zuitco.tumblr.com/">Blog</a></li>
        <li><a href="#about">Launch</a></li>
    </ul>
    <img src="http://farm8.staticflickr.com/7440/12207850203_566c286336_b.jpg">
    <p>Email subscribe, schedule a fitting, link to our facebook, catalog<br> Super 140s wool, bemberg lining and personalized monogramming</p>
    <input type="email" placeholder="Your email">
    <input type="submit">
</body>