<!DOCTYPE html>
<html>
  
<body>

<h1>Zuit Sitemap</h1>
<ul>
  <li><a href="http://0.0.0.0:3000/welcome/index">Homepage</a></li>
  <li><a href="http://zuitco.tumblr.com/">Blog</a></li>
  <li><a href="http://0.0.0.0:3000/biography/index">Biography</a></li>
</ul>
</body>
</html>
